/*
	CSS Palettes allow us to define a color palette that our CSS rules will apply
	in a manner consistent with the Material Design Guidelines. This palette
	is the default palette based on grey/blue-grey

		https://material.io/guidelines/style/color.html#color-color-system

	If using Base Web Application, you can override this palette by copying this
	to the $PROJECT_ROOT/Site/themes directory and change colors to suit your
	needs there.
*/
:root {
	--dark-primary-color:#616161;		/* Primary 700 */
	--default-primary-color:#9E9E9E;	/* Primary 500; Major theme elements */
	--light-primary-color:#F5F5F5;		/* Primary 100; alternate row backgrounds */
	--text-primary-color:#212121;		/* Typically Black or dark grey; most text */
	--text-secondary-color:#616161;		/* Dark to medium grey; quoted text/text in disabled elements */
	--text-invert-color:#FAFAFA;		/* Primary 50; text over the primary or accent color */
	--dark-accent-color:#455A64;		/* Secondary 700 or A400; default button */
	--accent-color:#607D8B;				/* Secondary 500 or A200; buttons/focus rings/progress bars */
	--divider-color:#212121;			/* Typically black or dark grey; horizontal rules and table borders */
	--shadow-color:#4c4c4c;				/* Typically black or grey */
}